RewriteEngine on
RewriteOptions inherit

<Files 403.shtml>
order allow,deny
allow from all
</Files>

RewriteCond %{HTTP_REFERER} !^http://api.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://api.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://clothing.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://clothing.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ebjug.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ebjug.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ebjug.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ebjug.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://envyapparel.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://envyapparel.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://envyapparel.shop/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://envyapparel.shop$      [NC]
RewriteCond %{HTTP_REFERER} !^http://envyclothing.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://envyclothing.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gang.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gang.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://icsky.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://icsky.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://icsky.vip/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://icsky.vip$      [NC]
RewriteCond %{HTTP_REFERER} !^http://joeyverdugohasamassivecock.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://joeyverdugohasamassivecock.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://joeyverdugohasamassivecock.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://joeyverdugohasamassivecock.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jonaslesliecards.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jonaslesliecards.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jonaslesliecards.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jonaslesliecards.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lilyjuarezhasmassivetitties.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lilyjuarezhasmassivetitties.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lilyjuarezhasmassivetitties.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lilyjuarezhasmassivetitties.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://panel.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://panel.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rollsocial.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rollsocial.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rollsocial.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rollsocial.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.api.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.api.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.clothing.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.clothing.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ebjug.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ebjug.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ebjug.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ebjug.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.envyapparel.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.envyapparel.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.envyapparel.shop/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.envyapparel.shop$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.envyclothing.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.envyclothing.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gang.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gang.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.icsky.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.icsky.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.icsky.vip/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.icsky.vip$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.joeyverdugohasamassivecock.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.joeyverdugohasamassivecock.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.joeyverdugohasamassivecock.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.joeyverdugohasamassivecock.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jonaslesliecards.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jonaslesliecards.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jonaslesliecards.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jonaslesliecards.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lilyjuarezhasmassivetitties.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lilyjuarezhasmassivetitties.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lilyjuarezhasmassivetitties.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lilyjuarezhasmassivetitties.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.panel.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.panel.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rollsocial.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rollsocial.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rollsocial.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rollsocial.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.xiim.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.xiim.me$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.xiim.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.xiim.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^http://xiim.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://xiim.me$      [NC]
RewriteCond %{HTTP_REFERER} !^http://xiim.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://xiim.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://api.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://api.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://clothing.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://clothing.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ebjug.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ebjug.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ebjug.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ebjug.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://envyapparel.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://envyapparel.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://envyapparel.shop/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://envyapparel.shop$      [NC]
RewriteCond %{HTTP_REFERER} !^https://envyclothing.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://envyclothing.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://gang.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://gang.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://icsky.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://icsky.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://icsky.vip/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://icsky.vip$      [NC]
RewriteCond %{HTTP_REFERER} !^https://joeyverdugohasamassivecock.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://joeyverdugohasamassivecock.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://joeyverdugohasamassivecock.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://joeyverdugohasamassivecock.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jonaslesliecards.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jonaslesliecards.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jonaslesliecards.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jonaslesliecards.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://lilyjuarezhasmassivetitties.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://lilyjuarezhasmassivetitties.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://lilyjuarezhasmassivetitties.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://lilyjuarezhasmassivetitties.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://panel.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://panel.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rollsocial.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rollsocial.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rollsocial.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rollsocial.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.api.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.api.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.clothing.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.clothing.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ebjug.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ebjug.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ebjug.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ebjug.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.envyapparel.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.envyapparel.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.envyapparel.shop/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.envyapparel.shop$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.envyclothing.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.envyclothing.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.gang.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.gang.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.icsky.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.icsky.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.icsky.vip/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.icsky.vip$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.joeyverdugohasamassivecock.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.joeyverdugohasamassivecock.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.joeyverdugohasamassivecock.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.joeyverdugohasamassivecock.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jonaslesliecards.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jonaslesliecards.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jonaslesliecards.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jonaslesliecards.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.lilyjuarezhasmassivetitties.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.lilyjuarezhasmassivetitties.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.lilyjuarezhasmassivetitties.xyz/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.lilyjuarezhasmassivetitties.xyz$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.panel.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.panel.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rollsocial.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rollsocial.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rollsocial.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rollsocial.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.xiim.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.xiim.me$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.xiim.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.xiim.nexium.cc$      [NC]
RewriteCond %{HTTP_REFERER} !^https://xiim.me/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://xiim.me$      [NC]
RewriteCond %{HTTP_REFERER} !^https://xiim.nexium.cc/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://xiim.nexium.cc$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

